<div id="product-main-div" class="grid-container">
    <div id="prod-header-div" class="grid-item">
        <p ng-bind="product.name"> </p>
    </div>

    <div id="prod-body-div" class="grid-item prod-container">
        <div id="main-img-div" class="grid-item">
            <img class="img" src={{product.image}}  alt="Los Angeles">
        </div>
        <div id="main-txt-div" class="grid-item">
            <p>   </p>
            <p> Manufacturer: {{product.manufacturer}} </p>
            <p> Description:</p>
            <p> {{product.description}} 
            </p>
        </div>
    </div>

    <div id="prod-foot-div" class="grid-item">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Add To Cart !</button>
            <button type="button" class="btn btn-primary">Add To Wishlist</button>
            <button type="button" class="btn btn-danger">Remove from view</button>
        </div>
    </div>

</div>