#page-body {
    background-color: #e9ecef;
    div{
        padding: 0 !important;
        
        }
}

#main-container{
    position:relative;
}

#flex-container-bottom{
    position:absolute;
    bottom: 3.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly    
}

.option-panel{
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-2em;
    display: block;
    overflow: auto;
}

.fat-option-panel{
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
    width: 25%;
}
.thin-option-panel{
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    transition: width 2s;
    width: 20%;

}

#shading-div{
    background:rgba(0,0,0,0.55);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
}

app-bottom-table{

}
