#page-body {
    background-color: #e9ecef;
    div{
        padding: 0 !important;
        
        }
}
.option-panel{
    background-color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:-2em;
}

#main-container{
    position:relative;
}

#flex-container-bottom{
    position:absolute;
    bottom: 3.5em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly    
}

.option-panel{
    //max-width: 18%;
    width: 20%; //dopo aver cercato il prodotto
    display: block; //dopo aver cercato il prodotto
    overflow: auto;
}

app-bottom-table{

}
