<app-header></app-header>
<div id="page-body" class="d-flex flex-row justify-content-between h-100">
    <div class=" w-25 option-panel" id="left-option-panel">
        <app-categories-container></app-categories-container>
    </div>
    <div class="p-2 align-self-sm-stretch w-100 flex-grow" id="main-container">
        <app-main-container></app-main-container>
    </div>
    <div class="p-2 w-25 option-panel" id="right-option-panel">
        <app-option-container></app-option-container>
    </div>


</div>