<div *ngIf="shadedScreen" id="shading-div"></div>
<app-header></app-header>
<div id="page-body" class="d-flex flex-row justify-content-between h-100">
    <div class="option-panel" [class.fat-option-panel]="!isShowing" [class.thin-option-panel]="isShowing" id="left-option-panel">
        <app-categories-container></app-categories-container>
    </div>
    <div class="w-100 flex-grow" id="main-container">
        
        <app-main-container></app-main-container>
<!--         <div id="flex-container-bottom">
            <app-bottom-table class="bottom-table" id="table-disc"></app-bottom-table>
            <app-bottom-table class="bottom-table" id="table-trend"></app-bottom-table>
            <app-bottom-table class="bottom-table" id="table-news"></app-bottom-table>
        </div> -->
    </div>
    <div class="option-panel" [class.fat-option-panel]="!isShowing" [class.thin-option-panel]="isShowing" id="right-option-panel">
        <app-option-container></app-option-container>
    </div>
</div>