<!-- <ul class="btn btn-outline-primary categories">
    <li *ngFor="let cat of myCategories">
        <p class="boh">{{cat}}</p>
    </li>
</ul> -->
<div id="cat-main" class="">
    <div id='cat-title'>
        <h4 id="title" style="color: #343a40; font-family:'Courier New', Courier, monospace; font-weight: bold">You can start your quest from a category</h4>
    </div>
    <div id="categories-div" class=" container flex-container">
        <!-- questo poi si può mettere che le categorie sono prese da json e generate dinamicamente -->
        <button *ngFor='let cat of cats' class="btn btn-outline-primary cat-btn" target="_blank" (click)="getSubCategories(cat)">
            <i class="fas cat-icon fa-paint-brush"></i>
            <p> {{cat.name}}</p>
        </button>
        <!-- poi fai in modo che le categorie spariscono   -->

        <button *ngFor='let subCat of subCats' class="btn btn-outline-primary cat-btn" target="_blank" (click)="getProductBySubCategories(subCat)">
            <i class="fas cat-icon fa-paint-brush"></i>
            <p> {{subCat.name}}</p>
        </button>
        

    </div>

</div>