<!-- <ul class="btn btn-outline-primary categories">
    <li *ngFor="let cat of myCategories">
        <p class="boh">{{cat}}</p>
    </li>
</ul> -->
<div id="cat-main" class="h-100 ">
    <div id="cat-main-inner" class="flex-container">
        <div id='cat-title'>
            <h4>Fast categories</h4>
        </div>
        <div id='cat-body'>
            <div class="container">
                <div class="flex-container">
                    <!-- questo poi si può mettere che le categorie sono prese da json e generate dinamicamente -->
                    <button class="btn btn-outline-primary cat-btn  " target="_blank">
                        <i class="fas fa-desktop cat-icon"></i>
                        <p> TVs</p>
                    </button>
                    <button class="btn btn-outline-primary cat-btn" target="_blank">
                        <i class="fas cat-icon fa-laptop"></i>
                        <p> Computer</p>
                    </button>
                    <button class="btn btn-outline-primary cat-btn" target="_blank">
                        <i class="fas cat-icon fa-mobile-alt"></i>
                        <p> Smartphone</p>
                    </button>
                    <button class="btn btn-outline-primary cat-btn" target="_blank">
                        <i class="fas cat-icon fa-gift"></i>
                        <p> Gift Ideas</p>
                    </button>
                    <button class="btn btn-outline-primary cat-btn" target="_blank">
                        <i class="far fa-futbol cat-icon"></i>
                        <p> Sport Apparel</p>
                    </button>
                    <button class="btn btn-outline-primary cat-btn" target="_blank">
                        <i class="fas cat-icon fa-car"></i>
                        <p> Car Accessories</p>
                    </button>

                </div>
            </div>

        </div>
    </div>


</div>