<div class="jumbotron text-center flex-container">
  <h1 style="color: #343a40; font-family:'Courier New', Courier, monospace; font-weight: bold">{{title}}</h1>
  <p>Welcome to this rly awwwsome e-Shop</p>
  <form>
    <div class="d-flex flex-row">
           
      <div id="search-box" class="input-group">
        <input class="form-control" size="50" placeholder="Search Product" required>
      </div>
      <div class="input-group-btn">
        <button type="button" id="search-btn" class=" btn btn-primary"><i class="fas fa-search search-icon"></i></button>
      </div>
    </div>
    <app-double-slider></app-double-slider>
    
  </form>
</div>
