.search-icon{
    font-size: 1em;
}

.flex-container{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input:hover{
    transform: scale(1.01);
}

#search-btn:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

#prod-list-div{
}

.noShow{
    display: none;
}