<div class="jumbotron text-center flex-container">
  <h1 class="" [class.noShow]="isShowing" style="color: #343a40; font-family:'Courier New', Courier, monospace; font-weight: bold">{{title}}</h1>
  <p class="" [class.noShow]="isShowing">Welcome to this rly awwwsome e-Shop</p>
    <div class="d-flex flex-row">
      <div id="search-box" class="input-group">
        <input [(ngModel)]="this.searchTxt" (change)="setChangingText()" class="form-control" size="50" placeholder="Search Product" required>
      </div>

      
      <div class="input-group-btn btn-group">
        <button type="button" id="search-btn" class=" btn btn-primary"(click)="getProductsByName();"(click)="setShowing(true)">
          <i class="fas fa-search" ></i>
        </button>
        <button *ngIf="isShowing" type="button" id="search-btn" class=" btn btn-danger"(click)="deleteProducts()"(click)="setShowing(false)">
          <i class="fas fa-times" ></i>
        </button>
      </div>
    </div>


    <!-- barra prezzo-->
    <app-double-slider hidden></app-double-slider>
    <!-- lista prodotti-->
    <div id="prod-list-div">
        <app-product-list #prodList> </app-product-list>
    </div>
</div>
