input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
  }

#max-price{
    margin-bottom: 1em;
}

input:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03);
}

#main-div{
    padding: 2em;
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}
.btn{
    font-size: medium;
    color:#007bff;
    font-weight: bold;
    background-color: #e9ecef;
    width: 9em;
}

.btn-primary:hover{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03);

}

#title{
    color: #E9ECF8;
    text-decoration: underline;
    
}

h6{
    text-decoration: underline;
}

h5{
    color: #E9ECF8;
}

#sorting-options-div, #price-range-div{
    margin-top: 3em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}


/* .dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
} */