#list-main-div{
   background: white;
   margin: 10px;
   position: absolute;
   height: 75%;
   width: 92%;
   padding-right:4%;
   padding-left: 4%;
   overflow: auto;
}

/* da qui definisto lo stile di quello che sarebbe stato il productComponent*/

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
      }
  .grid-container {
    display: grid;
    background-color: #a9c0da;
    grid-template-rows: 5%, 90%, 5%;
    margin: 8px;
    margin-bottom: 2em;
    transition: all .2s ease-in-out;
    /* max-height: 50%; */
    
  }
  .grid-container:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03); 
  }
#product-main-div{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
#prod-header-div{
    grid-row: 1 / 2;
}
#prod-body-div{
    display: grid;
    grid-template-columns: 60%, 40%;
    grid-row: 2 / 3;
    max-height: inherit;
    overflow: auto;
}
#prod-foot-div{
    font-size: xx-small;
    grid-row: 3/4;
}
#main-img-div{
    grid-column: 1 / 4;
    grid-row: 1;
}
#main-txt-div{
     grid-column: 4 / 6;
    grid-row:1; 
    overflow: auto;
    
    }

.img{
    min-width: 100px;
    max-width: 70%;
}

span{
    font-size: small;
    font-weight: 400;
}

#price-div{
    border: 1px solid darkblue;
    max-width: 60%;
    margin-right: 20%;
    margin-left: 20%; 
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 1em;        

}
#no-prod-p{
    font-size: large;
    font-weight: bold;
    margin: 5em;
}