#list-main-div{
   
   background: white;
   margin: 10px;
   position: absolute;
   height: 85%;
   width: 92%;
   padding-right:4%;
   padding-left: 4%;
   overflow: auto;

}

/* da qui definisto lo stile di quello che sarebbe stato il productComponent*/

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: Arial,sans-serif;
    font-weight: bold;
    margin: 4px;
    padding: 4px;
    }

.grid-container {
    display: grid;
    background-color: #a9c0da;
    grid-template-rows: 5%, 90%, 5%;
    margin: 8px;
    margin-bottom: 2em;
    transition: all .2s ease-in-out;
  }

  .grid-container:hover{
    transform: scale(1.02);
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }

#product-main-div{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#prod-header-div{
    grid-row: 1 / 2;
}
#prod-body-div{
    display: grid;
    grid-template-columns: 60%, 40%;
    grid-row: 2 / 3;
    max-height: inherit;
    overflow: auto;
}
#prod-foot-div{
    font-size: xx-small;
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    position: relative;
    min-height: 5.2em !important;
}
#main-img-div{
    grid-column: 1 / 4;
    grid-row: 1;
    min-width: 10em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #ff6200;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-txt-div{
     grid-column: 4 / 6;
    grid-row:1; 
    overflow: auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #007bff;
    }

.img{
    min-width: 100px;
    max-width: 70%;
}
/* 
.img:hover{
    transform: scale(1.01);
    transition: all .2s ease-in-out;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

} */

span{
    font-size: small;
    font-weight: 400;
}

#price-div{
    
    max-width: 60%;
    margin-right: 20%;
    margin-left: 20%; 
    background: white;

    padding: 1em;        
    max-height: 20em;

}
#no-prod-p{
    font-size: large;
    font-weight: bold;
    margin: 5em;
}

#to-cart-btn{
    position: absolute;
    left:44%;
    font-weight: bold;
    border:1px solid whitesmoke !important;
    border-radius: 0px;

}

#to-cart-btn:hover{
    transform: scale(1.05);

}

.price-ctrl-btn{
    position: absolute;
    right:5em;

}

.price-btn{
    background-color: #ff6200;
    color: white;
    font-weight: 400;
    border: 1px solid whitesmoke;
    margin-right: 1em;
    margin-top: 0.25em;
    border-radius: 0px;
}

.price-btn:hover{
    background-color: #db5d03;
    color: white;
    font-weight: 500;
    transform: scale(1.08);
}

.btn-reset{
    font-size: medium;
    color:#db5d03;
    font-weight: bold;
    background-color: #e9ecef;
    width: 9em;
}

.btn-reset:hover{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03);

}