<div>
    <app-cart-component></app-cart-component>
</div>
<div id="list-main-div">
    <!-- <app-product-form  *ngFor='let product of products'> </app-product-form> -->
    <!-- per ora invece di usare il componente sostituisco direttamente la parte di html che torna meglio, poi vediamo un po', ci fosse verso di usare il componente sarebbe meglio! -->

    <div *ngIf="noProdFound">
        <p id="no-prod-p"> No product matches the search parameters !</p>
        <p> You can try
            <button type="button" class=" btn btn-reset" (click)="resetPriceFilter()">
                Reset Filters
            </button>
        </p>
    </div>
    <div *ngFor='let product of products' id="product-main-div" class="grid-container">
        <div id="prod-header-div" class="grid-item">
            <p>{{product.name}} -
                <span>Product id: {{product.id}}</span>
            </p>
        </div>

        <div id="prod-body-div" class="grid-item prod-container">
            <div id="main-img-div" class="grid-item">
                <img class="img" src={{product.image}} alt="there was no image - sorry">
            </div>
            <div id="main-txt-div" class="grid-item">
                <div id="price-div">
                    <p> Price: {{product.price}}</p>

                    <span> Model:</span>
                    <p>{{product.model}}</p>
                    <span> Manufacturer:</span>
                    <p>{{product.manufacturer}}</p>
                    <span> Info:</span>
                    <br>
                    <span>{{product.description}}</span>
                </div>
            </div>
        </div>

        <div id="prod-foot-div" class="grid-item">
            <button id="to-cart-btn" type="button" class="btn  btn-primary" (click)="addToCartPressed(product)">Add To Cart !</button>
            <div class="btn-group price-ctrl-btn">
                <button type="button" id="cheap-btn" class="btn btn-sm price-btn" (click)="tooCheapPressed(product.price)">Too cheap</button>
                <button type="button" id=exp-btn class="btn btn-sm price-btn" (click)="tooExpensivePressed(product.price)">Too expensive</button>
            </div>
        </div>
    </div>
</div>