<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="#myPage">BBShop</a>
    </div>

  </div>
</nav>

<div class="jumbotron text-center">
  <h1>BBShop</h1> 
  <p>Welcome to this rly awwwsome eShop</p> 
  <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Search Product" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Search !</button>
      </div>
    </div>
  </form>
</div>
