<nav class="nav navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
    <span class="navbar-brand mb-0 ml-3 h1">BBShop</span>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active header-btn" id="cart-anchor" href="#">
                <i class="fas fa-shopping-cart"></i> Your Cart
            </a>
        </li>
        <li class="nav-item">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2 " role="group">
                    <button class="header-btn btn btn-outline-info" type="submit">
                        <i class="far fa-user-circle"></i>
                        Sign Up
                    </button>
                    <button class="header-btn btn btn-outline-primary" type="submit">
                        <i class="fas fa-sign-out-alt"></i>
                        Log In
                    </button>
                </div>
            </div>
        </li>
    </ul>

</nav>